# Project exclude paths
/venv/
/design/
/nofritzbox/
global_placeholders_private.json
dependencies_private.txt
/artefact/network/router.py
ideas.txt
collector_text_de_DE.json
/tests/testfiles/EWFDemoFat32.e01
/output/
/internal/
Todos2.txt
/external_tools/