# Project exclude paths
/venv/
/design/
/nofritzbox/
/examples/collect-test.xml
global_placeholders_private.json
dependencies_private.txt
/artefact/network/router.py
ideas.txt
collector_text_de_DE.json
/tests/EWFDemoFat32.e01
/output/